<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div 
                    class="healthbar text-center" 
                    :style="[yourHealthbar, {backgroundColor: 'green', margin: 0, color: 'white'}]">
                    {{ player.health }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div 
                    class="healthbar text-center" 
                    :style="[monstersHealthbar, {backgroundColor: 'green', margin: 0, color: 'white'}]">
                    {{ monster.health }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameInProgress">
        <div class="small-12 columns">
            <button id="start-game" @click="startNewGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="gameInProgress">
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <template v-for="event in eventLog">
                    <li :style="event.style">
                        {{ event.message }}
                    </li>
                </template>
            </ul>
        </div>
    </section>
</div>

<script type="application/javascript" src="js/game.js"></script>
</body>
</html>
